/* Inter Font Embed Link */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Common Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui;
}
html {
  overflow-x: hidden;
}
:root {
  --black: #000000;
  --white: #ffffff;
  --gray: #191919;
  --bg: #0d0d0d;
}
body {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}
img {
  vertical-align: middle;
}
a {
  text-decoration: none;
}
ol,
ul {
  list-style: none;
}
button {
  padding: 20px 34px;
  border-radius: 40px;
  background: var(--white);
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  border: none;
}
button:hover {
  opacity: 0.6;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
}
section,
main {
  padding: 150px 0;
  width: 100%;
  min-height: 100vh;
}
section {
  background: var(--bg);
}
.section-heading {
  font-size: 50px;
  font-weight: 600;
  color: var(--white);
  text-align: center;
  margin-bottom: 16px;
}
.section-heading + p {
  color: var(--white);
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 70px;
}
/* Navbar styles */
header {
  background: var(--black);
  width: 100%;
  position: fixed;
}
header nav {
  padding: 38px 135px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .left {
  display: flex;
  align-items: center;
}
header nav .left ul {
  display: flex;
  gap: 5px;
  align-items: center;
}
header nav .left ul li a {
  padding: 18px;
  color: var(--white);
  transition: all 0.3s ease;
}
header nav .left ul li a:hover {
  opacity: 0.6;
}
header nav .left .logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
header nav .right {
  display: flex;
  align-items: center;
  gap: 30px;
}
header #firstLogo {
  display: none;
}
header nav .right .icons {
  display: flex;
  gap: 30px;
}
header nav .right .icons img {
  cursor: pointer;
  transition: all 0.3s ease;
}
header nav .right .icons img:hover {
  opacity: 0.6;
}
header #openBtn {
  display: none;
}
header nav ul #closeBtn {
  display: none;
}
/* Main Banner Styles */
main {
  background: url(../img/Background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
main h1 {
  font-size: 66px;
  font-weight: 900;
  color: var(--white);
  line-height: 1.5;
  margin-top: 80px;
  margin-bottom: 10px;
}
main p {
  margin-bottom: 40px;
  color: var(--white);
  font-size: 20px;
}
/* Why we are best section styles */
.why .container .wrapper {
  display: flex;
  gap: 87px;
  align-items: center;
  justify-content: space-between;
}
.why .container .wrapper .left p {
  font-size: 18px;
  color: var(--white);
  font-weight: 300;
  line-height: 1.7;
}
.why .container .wrapper .left,
.why .container .wrapper .right {
  max-width: 50%;
}
.why .container .wrapper .right img {
  max-width: 100%;
}
/* Food Menu Styles */
.food-menu .container .section-heading {
  margin-bottom: 40px;
}
.food-menu .container .categories {
  margin-bottom: 80px;
}
.food-menu .container .categories ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.food-menu .container .categories ul li a {
  color: var(--white);
  padding: 0 20px;
  transition: all 0.3s ease;
}
.food-menu .container .categories ul li a.active,
.food-menu .container .categories ul li a:hover {
  border-radius: 10px;
  box-shadow: 0 3px var(--white);
  padding-bottom: 10px;
}
.food-menu .container .wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 40px;
  place-items: center;
  margin-bottom: 80px;
}
.food-menu .container .wrapper .card {
  padding: 20px;
  background: var(--gray);
  max-width: 370px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.food-menu .container .wrapper .card h1 {
  font-size: 24px;
  font-weight: 600;
  color: var(--white);
  margin-bottom: 10px;
}
.food-menu .container .wrapper .card p {
  color: var(--white);
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 10px;
  line-height: 1.5;
}
.food-menu .container .wrapper .card .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.food-menu .container .wrapper .card .bottom span {
  font-size: 24px;
  font-weight: bold;
  color: var(--white);
}
.food-menu .container .btn {
  display: grid;
  place-items: center;
}
/* Quality Styles */
.quality {
  min-height: fit-content;
}
.quality .container h1 {
  margin-bottom: 60px;
}
.quality .container .wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  place-items: center;
}
.quality .container .wrapper .card h1 {
  text-align: center;
  color: var(--white);
  font-size: 56px;
  margin-bottom: 12px;
}
.quality .container .wrapper .card p {
  color: var(--white);
  font-size: 18px;
  text-align: center;
}
/* Franchise Styles */
.franchise {
  min-height: fit-content;
}
.franchise .container h1 {
  margin-bottom: 20px;
}
.franchise .container p {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 60px;
}
.franchise .container .btn {
  display: grid;
  place-items: center;
}
/* Testimonials Styles */
.testimonials .container .section-heading {
  margin-bottom: 70px;
}
.testimonials .container .wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  place-items: center;
}
.testimonials .container .wrapper .card {
  padding: 30px;
  background: var(--gray);
  border-radius: 16px;
  max-width: 370px;
}
.testimonials .container .wrapper .card .top {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 20px;
}
.testimonials .container .wrapper .card .top .top-2 h1 {
  font-size: 18px;
  font-weight: bold;
  color: var(--white);
  margin-bottom: 5px;
}
.testimonials .container .wrapper .card .top .top-2 h3 {
  font-size: 14px;
  color: var(--white);
  font-weight: 300;
  margin-bottom: 5px;
}
.testimonials .container .wrapper .card .quote {
  display: flex;
  align-items: flex-end;
  margin-bottom: 30px;
}
.testimonials .container .wrapper .card .quote .line {
  height: 0.5px;
  width: 195px;
  background: var(--white);
}
.testimonials .container .wrapper .card p {
  color: var(--white);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}
/* Support Styles */
.support {
  background: var(--white);
  min-height: fit-content;
}
.support .container h1 {
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}
.support .container .inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.support .container .inputs input {
  padding: 20px 400px 20px 30px;
  border-radius: 40px;
  border: 1px solid var(--black);
  outline: none;
}
.support .container .inputs input::placeholder {
  color: var(--black);
  font-weight: 600;
  font-size: 18px;
}
.support .container .inputs button {
  background: black;
  color: var(--white);
}
/* Location Styles */
.location .container .wrapper {
  display: flex;
  gap: 145px;
  align-items: center;
  justify-content: space-between;
}
.location .container .wrapper .left,
.location .container .wrapper .right {
  max-width: 50%;
}
.location .container .wrapper .right img {
  max-width: 100%;
}
.location .container .wrapper .left h1 {
  color: var(--white);
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 16px;
}
.location .container .wrapper .left p {
  color: var(--white);
  font-size: 20px;
  font-weight: 300;
  line-height: 1.7;
  margin-bottom: 70px;
}

/* Footer Styles */
footer {
  width: 100%;
  padding: 135px 0;
  background: var(--gray);
}
footer .container .wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
  border-bottom: 1px solid #4F4F4F;
  gap: 103px;
  margin-bottom: 28px;
}
footer .container .wrapper .menu a{
  display: block;
  color: var(--white);
  font-weight: 300;
  font-size: 18px;
  line-height: 2;
  transition: all .3s ease;
}
footer .container .wrapper .menu a:hover {
  opacity: 0.6;
}
footer .container .wrapper .menu h3 {
  color: var(--white);
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 30px;
  white-space: nowrap;
}
footer .container .wrapper .menu .images img{
  display: inline-block;
  margin-right: 20px;
}
footer .container .wrapper .menu .images img:first-child {
  margin-bottom: 20px;
}
footer .container .social {
  display: flex;
  gap: 20px;
  align-items: center;
}
footer .container .social img {
  cursor: pointer;
}
footer .container .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .container .bottom span {
  color: var(--white);
  font-size: 18px;
  font-weight: 300;
}
/* Responsive Styles */
@media (max-width: 1280px) {
  header {
    background: none;
    position: static;
  }
  header nav {
    padding: 35px 5px;
  }
  header #openBtn {
    display: block;
    position: absolute;
    left: 5vw;
    top: 38px;
  }
  header nav {
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    gap: 20px;
    display: none;
    background: var(--black);
    justify-content: center;
    align-items: center;
    padding-top: 50px;
  }
  header nav * {
    flex-direction: column;
    padding: 10px 0;
  }
  header nav button {
    padding: 20px 34px;
  }
  header nav ul #closeBtn {
    padding: 0;
  }
  header #firstLogo {
    display: block;
    position: absolute;
    right: 5vw;
    top: 15px;
  }
  header nav ul #closeBtn {
    display: block;
    position: absolute;
    left: 5vw;
    top: 38px;
  }
}

@media (max-width: 1000px) {
  .why .container .wrapper {
    flex-direction: column;
  }
  .why .container .wrapper .left,
  .why .container .wrapper .right {
    max-width: 100%;
  }
  .food-menu .container .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .testimonials .container .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  footer .container .wrapper {
    flex-direction: column;
  }
  footer .container .bottom {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .food-menu .container .wrapper {
    grid-template-columns: 1fr;
  }
  .food-menu .container .categories ul {
    flex-direction: column;
    gap: 30px;
  }
  .quality .container .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .support .container .inputs {
    flex-direction: column;
  }
  .support .container .inputs input {
    padding: 16px 95px 16px 16px;
    width: 100%;
  }
  .support .container .inputs button {
    padding: 16px 95px;
    width: 100%;
  }
  .testimonials .container .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .location .container .wrapper {
    flex-direction: column;
    align-items: center;
  }
  .location .container .wrapper .left,
  .location .container .wrapper .right {
    max-width: 100%;
  }
}
@media (max-width: 340px) {
  .food-menu .container .wrapper .card {
    max-width: 300px;
  }
}
